<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="list-group">
            <a 
            [routerLink]="['/servers' , server.id ]" style="cursor: pointer;"
            [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
            fragment="loading" 
            class="list-group-item" *ngFor="let server of servers">
                {{server.name}}
            </a>
        </div>
    </div>
    <div class="col-md-6 mx-auto">
        <!-- <app-servers-edit></app-servers-edit> -->
        <!-- <app-serverss></app-serverss> -->
        
        <router-outlet></router-outlet>
    </div>
</div>